@-moz-viewport {width:device-width; scale: 1; }
@-ms-viewport {width:device-width; scale: 1; }
@-o-viewport {width:device-width; scale: 1; }
@-webkit-viewport {width:device-width; scale: 1; }
@viewport {width:device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
   
    html {
        font-size: 110%;
    }
}
    
@media only screen and (min-width: 90em) {
     
    html {
        font-size: 120%;
    }
}
    
@media only screen and (min-width: 120em) {
     
    html {
        font-size: 130%;
    }
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #E7E5D9;
}


h1{
    display: inline-block;
    text-shadow: 2px 2px 3px;
}
    
h1{
    text-align: center;
    margin:0;
    padding:0;
}

h2 {
   position: absolute;
   top: 240px;
   left: 0;
   width: 100%;
   margin: 0 auto;
   width: 500px;
   height: 50px;
}

.title {
    text-align: center;
    padding: 0;
    margin: 0;
}

































@media only screen and (min-width: 25em) {
@media only screen and (min-width: 38em) {
@media only screen and (min-width: 60em) {